.post-page {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.log-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

.food-choice {
    margin: .2rem 0 .5rem;
}