.site-home-mini-nav {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;

}

.site-home {
    margin: 1rem;
}

.page-header {
    margin: .5rem 0 1rem;
}

.about-us {
    margin: .5rem 0 1rem;
}