@tailwind base;
@tailwind components;
@tailwind utilities; 

textarea {
    resize: none;
}
.image-1{
    background-image: url(../src/assets/images/workout.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

}
.image-2{
    background-image: url(../src/assets/images/Food.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.image-3{
    background-image: url(../src/assets/images/Scale.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
